html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: #414141;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

* {
  box-sizing: border-box;
}

input {
  font-family: "Raleway", sans-serif;
  outline: none;
  font-size: 22px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  display: flex;
}

body {
  background: #fff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 13px;
  line-height: 20px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

#search-bar {
  margin-bottom: 32px;
}

.app {
  margin: 3em auto;
  width: 70%;
}

.gif-list {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
  column-count: 4;
}

.gif-list__item {
  display: inline-block;
  margin-bottom: 1.5em;
  width: 100%;
}

.gif-list__item img {
  width: 100%;
}

.gif-details__source,
.gif-details__rating {
  margin-left: 16px;
}

.gif-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gif-details img,
.gif-details p {
  width: 60%;
  align-self: center;
}

.gif-details img {
  margin-bottom: 32px;
}
